[company-openssl35]
name=Company OpenSSL 3.5 - OL7 x86_64
baseurl=https://artifacts.example.company/openssl35/yum/ol7/x86_64/
enabled=1
gpgcheck=1
gpgkey=https://artifacts.example.company/openssl35/RPM-GPG-KEY-COMPANY
sslverify=1
